::selection {
  background: var(--color1);
  color: #fff;
  text-shadow: none;
}

:root {
  --color-text: #444;
  --color-border: #eee;
  --color1: #607744;
  --color2: #b39c4d;
  --color3: #e70000;
  --em-font: Courier,sans-serif;
  --title-font: Calibri,sans-serif;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 700px) {
  html {
    font-size: 125%;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 140.625%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: var(--color-text);
  font-family: Calibri , sans-serif;
  font-size: 0.8rem;
  line-height: 1.4rem;


/*  background-image: linear-gradient(rgba(50, 50, 50, .1) 1px, transparent 1px);
  background-size: 100% 28px;*/


}

/*@media screen and (min-width: 700px) {
  body {
    background-size: 100% 32px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-size: 100% 36px;
  }
}*/

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

a:hover, a:visited, a:active {
  color: var(--color1);
  text-decoration: none;
}